body {
    font-family: 'Poppins', sans-serif;
}

.bg-4 {
    background-color: #363062;
}
.bg-3 {
    background-color: #4D4C7D;
}
.bg-2 {
    background-color: #F99417;
}

.text-2 {
    color: #F99417;
}
.text-1 {
    color: #F5F5F5;
}

#home, #about, #skills, #works, #contact {
    min-height: 100vh;
}

#name::placeholder, #email::placeholder, #message::placeholder {
    color: #F5F5F5;
}

#about-image {
    height: 75%;
    width: 75%;
}
#works-heading {
    margin-top: 5%;
}
#works-card {
    margin-bottom: 5%;
}

@media screen and (min-width: 992px) {
    #about-image {
        height: 50%;
        width: 50%;
    }
    #works-card {
        margin-bottom: 0%;
    }
}